Testing started
Test suite 'EventBusTests' started on 'Clone 2 of iPhone 16 Pro - signal (8488)'
Test case 'EventBusTests.testBatchStructure()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.120 seconds)
Test case 'EventBusTests.testDebouncing()' failed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (1.504 seconds)
Test case 'EventBusTests.testEventBatching()' failed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.260 seconds)
Test case 'EventBusTests.testEventProperties()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.116 seconds)
Test case 'EventBusTests.testFlushNow()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.004 seconds)
Test suite 'WebVTTParserTests' started on 'Clone 2 of iPhone 16 Pro - signal (8488)'
Test case 'WebVTTParserTests.testEmptyVTT()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.002 seconds)
Test case 'WebVTTParserTests.testFindCue()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.008 seconds)
Test case 'WebVTTParserTests.testInvalidVTT()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.002 seconds)
Test case 'WebVTTParserTests.testParseTimeFormats()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.002 seconds)
Test case 'WebVTTParserTests.testParseValidVTT()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.002 seconds)
Test suite 'signalTests' started on 'Clone 2 of iPhone 16 Pro - signal (8488)'
Test case 'signalTests/example()' passed on 'Clone 2 of iPhone 16 Pro - signal (8488)' (0.000 seconds)
Test suite 'signalUITests' started on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)'
Test suite 'signalUITestsLaunchTests' started on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (8511)'
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (8511)' (29.522 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (8511)' (11.983 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (8511)' (9.438 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (8511)' (13.498 seconds)
Test case 'signalUITests.testLaunchPerformance()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (84.126 seconds)
Test case 'signalUITests.testLongPressForScrubbing()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (10.245 seconds)
Test case 'signalUITests.testMultipleSwipeNavigation()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (20.541 seconds)
2025-08-21 09:17:38.144 xcodebuild[7975:126528]  iOSSimulator: 52AE749C-8F64-4682-BBF4-E1ED5C77A239: Failed to launch app with identifier: ng.signal.signalUITests.xctrunner and options: {
    "activate_suspended" = 1;
    arguments =     (
    );
    environment =     {
        "APP_DISTRIBUTOR_ID_OVERRIDE" = "com.apple.AppStore";
        "CA_ASSERT_MAIN_THREAD_TRANSACTIONS" = 0;
        "CA_DEBUG_TRANSACTIONS" = 0;
        "DYLD_FRAMEWORK_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator:/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks";
        "DYLD_INSERT_LIBRARIES" = "/Library/Developer/CoreSimulator/Volumes/iOS_22F77/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.5.simruntime/Contents/Resources/RuntimeRoot/usr/lib/libMainThreadChecker.dylib";
        "DYLD_LIBRARY_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator:/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/usr/lib";
        "LLVM_PROFILE_FILE" = "/var/folders/vv/z38d5_l135j11w36m1twbszc0000gn/T/ng.signal.signalUITests.xctrunner/CEF37CF7-796C-434E-8F84-54BCCE42728F-7975-0000038F527483FB/973DF672-487E-444C-BA96-4E3D567E830C-%p%c.profraw";
        "MTC_CRASH_ON_REPORT" = 1;
        NSApplicationQuitWithoutSuddenTermination = YES;
        NSUnbufferedIO = YES;
        "OS_ACTIVITY_DT_MODE" = YES;
        "RUN_DESTINATION_DEVICE_NAME" = "Clone 3 of iPhone 16 Pro";
        "RUN_DESTINATION_DEVICE_PLATFORM_IDENTIFIER" = "com.apple.platform.iphonesimulator";
        "RUN_DESTINATION_DEVICE_UDID" = "52AE749C-8F64-4682-BBF4-E1ED5C77A239";
        "SQLITE_ENABLE_THREAD_ASSERTIONS" = 1;
        TERM = dumb;
        "XCODE_SCHEME_NAME" = signal;
        "XCODE_TEST_PLAN_NAME" = signal;
        XCTestBundlePath = "PlugIns/signalUITests.xctest";
        XCTestConfigurationFilePath = "";
        XCTestSessionIdentifier = "6097A6D1-743E-4C4C-881A-BA91EA3D32DE";
        "__XCODE_BUILT_PRODUCTS_DIR_PATHS" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_DYLD_FRAMEWORK_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_DYLD_LIBRARY_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_LLVM_PROFILE_FILE" = "/var/folders/vv/z38d5_l135j11w36m1twbszc0000gn/T/ng.signal.signalUITests.xctrunner/CEF37CF7-796C-434E-8F84-54BCCE42728F-7975-0000038F527483FB/973DF672-487E-444C-BA96-4E3D567E830C-%p%c.profraw";
    };
    stderr = "/dev/ttys005";
    stdout = "/dev/ttys005";
    "terminate_running_process" = 1;
    "wait_for_debugger" = 1;
} (error = Error Domain=FBSOpenApplicationServiceErrorDomain Code=1 "Simulator device failed to launch ng.signal.signalUITests.xctrunner." UserInfo={NSLocalizedDescription=Simulator device failed to launch ng.signal.signalUITests.xctrunner., NSUnderlyingError=0x6000033db6f0 {Error Domain=FBSOpenApplicationServiceErrorDomain Code=1 "The request to open "ng.signal.signalUITests.xctrunner" failed." UserInfo={BSErrorCodeDescription=RequestDenied, NSLocalizedDescription=The request to open "ng.signal.signalUITests.xctrunner" failed., NSUnderlyingError=0x6000033dbb70 {Error Domain=FBProcessExit Code=64 "The process failed to launch." UserInfo={NSUnderlyingError=0x6000033dab50 {Error Domain=RBSRequestErrorDomain Code=5 "Launch failed." UserInfo=0x6000027bd900 (not displayed)}, BSErrorCodeDescription=launch-failed, NSLocalizedFailureReason=The process failed to launch.}}, FBSOpenApplicationRequestID=0x4910, NSLocalizedFailureReason=The request was denied by service delegate (SBMainWorkspace).}}, NSLocalizedFailureReason=The request was denied by service delegate (SBMainWorkspace)., FBSOpenApplicationRequestID=0x4910, SimCallingSelector=launchApplicationWithID:options:pid:error:, BSErrorCodeDescription=RequestDenied})
Test case 'signalUITests.testScrollingPerformance()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (45.167 seconds)
Test case 'signalUITests.testTapToPlayPause()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (9.835 seconds)
Test case 'signalUITests.testVerticalSwipeNavigation()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (8484)' (10.054 seconds)
2025-08-21 09:19:13.919 xcodebuild[7975:118440] [MT] IDETesting: Failed to construct test run summaries and write them to the result bundle: fileSystemFailure(reason: "mkstemp: No such file or directory")
2025-08-21 09:19:13.923 xcodebuild[7975:118440] [MT] IDETestOperationsObserverDebug: 322.084 elapsed -- Testing started completed.
2025-08-21 09:19:13.923 xcodebuild[7975:118440] [MT] IDETestOperationsObserverDebug: 0.000 sec, +0.000 sec -- start
2025-08-21 09:19:13.923 xcodebuild[7975:118440] [MT] IDETestOperationsObserverDebug: 322.084 sec, +322.084 sec -- end
2025-08-21 09:19:14.844 xcodebuild[7975:118440] [MT] IDEResultKit: Warning: While writing a result bundle to /Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Logs/Test/Test-signal-2025.08.21_09-13-40--0400.xcresult, not all contents have been imported, as the Staging directory still contains the following files/directories: ["1_Test"]
2025-08-21 09:19:14.852 xcodebuild[7975:118440] [MT] IDETesting: Result bundle saving failed with error: Error Domain=IDEFoundationErrorDomain Code=12 "The result bundle could not be saved due to multiple errors: failed to import activity log, underlying error: fileSystemFailure(reason: "mkstemp: No such file or directory"), The operation couldn’t be completed. (CASDB.FileBackedCASDatabase.Error error 0.)" UserInfo={NSLocalizedDescription=The result bundle could not be saved due to multiple errors: failed to import activity log, underlying error: fileSystemFailure(reason: "mkstemp: No such file or directory"), The operation couldn’t be completed. (CASDB.FileBackedCASDatabase.Error error 0.), NSUnderlyingError=0x600001b48180 {Error Domain=IDEFoundation.ResultBundleError Code=2 "failed to import activity log, underlying error: fileSystemFailure(reason: "mkstemp: No such file or directory")"}}.

Test session results, code coverage, and logs:
	/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Logs/Test/Test-signal-2025.08.21_09-13-40--0400.xcresult

Failing tests:
	EventBusTests.testDebouncing()
	EventBusTests.testDebouncing()
	EventBusTests.testEventBatching()
	EventBusTests.testEventBatching()

** TEST FAILED **