Testing started
Test suite 'EventBusTests' started on 'Clone 1 of iPhone 16 Pro - signal (10891)'
Test case 'EventBusTests.testBatchStructure()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.122 seconds)
Test case 'EventBusTests.testDebouncing()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.006 seconds)
Test case 'EventBusTests.testEventBatching()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.005 seconds)
Test case 'EventBusTests.testEventProperties()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.105 seconds)
Test case 'EventBusTests.testFlushNow()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.003 seconds)
Test suite 'WebVTTParserTests' started on 'Clone 1 of iPhone 16 Pro - signal (10891)'
Test case 'WebVTTParserTests.testEmptyVTT()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.003 seconds)
Test case 'WebVTTParserTests.testFindCue()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.010 seconds)
Test case 'WebVTTParserTests.testInvalidVTT()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.003 seconds)
Test case 'WebVTTParserTests.testParseTimeFormats()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.003 seconds)
Test case 'WebVTTParserTests.testParseValidVTT()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.004 seconds)
Test suite 'signalTests' started on 'Clone 1 of iPhone 16 Pro - signal (10891)'
Test case 'signalTests/example()' passed on 'Clone 1 of iPhone 16 Pro - signal (10891)' (0.000 seconds)
Test suite 'signalUITests' started on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)'
Test suite 'signalUITestsLaunchTests' started on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (11048)'
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (11048)' (19.488 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (11048)' (7.702 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (11048)' (10.288 seconds)
Test case 'signalUITests.testLaunchPerformance()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (71.196 seconds)
Test case 'signalUITestsLaunchTests.testLaunch()' passed on 'Clone 1 of iPhone 16 Pro - signalUITests-Runner (11048)' (6.504 seconds)
Test case 'signalUITests.testLongPressForScrubbing()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (11.029 seconds)
2025-08-23 12:09:19.218 xcodebuild[10099:1611276]  iOSSimulator: 900D38A3-9E61-436A-B4FD-9D25B6068FAD: Failed to launch app with identifier: ng.signal.signalUITests.xctrunner and options: {
    "activate_suspended" = 1;
    arguments =     (
    );
    environment =     {
        "APP_DISTRIBUTOR_ID_OVERRIDE" = "com.apple.AppStore";
        "CA_ASSERT_MAIN_THREAD_TRANSACTIONS" = 0;
        "CA_DEBUG_TRANSACTIONS" = 0;
        "DYLD_FRAMEWORK_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator:/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks";
        "DYLD_INSERT_LIBRARIES" = "/Library/Developer/CoreSimulator/Volumes/iOS_22F77/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.5.simruntime/Contents/Resources/RuntimeRoot/usr/lib/libMainThreadChecker.dylib";
        "DYLD_LIBRARY_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator:/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/usr/lib";
        "LLVM_PROFILE_FILE" = "/var/folders/vv/z38d5_l135j11w36m1twbszc0000gn/T/ng.signal.signalUITests.xctrunner/A9297109-3AF0-4828-8AEF-D0E898CE217E-10099-00003A4276F7D9A5/49BB96B6-A254-4C38-92ED-51E992E90FCB-%p%c.profraw";
        "MTC_CRASH_ON_REPORT" = 1;
        NSApplicationQuitWithoutSuddenTermination = YES;
        NSUnbufferedIO = YES;
        "OS_ACTIVITY_DT_MODE" = YES;
        "RUN_DESTINATION_DEVICE_NAME" = "Clone 3 of iPhone 16 Pro";
        "RUN_DESTINATION_DEVICE_PLATFORM_IDENTIFIER" = "com.apple.platform.iphonesimulator";
        "RUN_DESTINATION_DEVICE_UDID" = "900D38A3-9E61-436A-B4FD-9D25B6068FAD";
        "SQLITE_ENABLE_THREAD_ASSERTIONS" = 1;
        TERM = dumb;
        "XCODE_SCHEME_NAME" = signal;
        "XCODE_TEST_PLAN_NAME" = signal;
        XCTestBundlePath = "PlugIns/signalUITests.xctest";
        XCTestConfigurationFilePath = "";
        XCTestSessionIdentifier = "6FA512E4-955A-4BFD-9746-4F9C5F3F1757";
        "__XCODE_BUILT_PRODUCTS_DIR_PATHS" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_DYLD_FRAMEWORK_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_DYLD_LIBRARY_PATH" = "/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Build/Products/Debug-iphonesimulator";
        "__XPC_LLVM_PROFILE_FILE" = "/var/folders/vv/z38d5_l135j11w36m1twbszc0000gn/T/ng.signal.signalUITests.xctrunner/A9297109-3AF0-4828-8AEF-D0E898CE217E-10099-00003A4276F7D9A5/49BB96B6-A254-4C38-92ED-51E992E90FCB-%p%c.profraw";
    };
    stderr = "/dev/ttys023";
    stdout = "/dev/ttys023";
    "terminate_running_process" = 1;
    "wait_for_debugger" = 1;
} (error = Error Domain=FBSOpenApplicationServiceErrorDomain Code=1 "Simulator device failed to launch ng.signal.signalUITests.xctrunner." UserInfo={NSLocalizedDescription=Simulator device failed to launch ng.signal.signalUITests.xctrunner., NSUnderlyingError=0x600001fbb450 {Error Domain=FBSOpenApplicationServiceErrorDomain Code=1 "The request to open "ng.signal.signalUITests.xctrunner" failed." UserInfo={BSErrorCodeDescription=RequestDenied, NSLocalizedDescription=The request to open "ng.signal.signalUITests.xctrunner" failed., NSUnderlyingError=0x600001fbb750 {Error Domain=FBProcessExit Code=64 "The process failed to launch." UserInfo={NSUnderlyingError=0x600001ecdec0 {Error Domain=RBSRequestErrorDomain Code=5 "Launch failed." UserInfo=0x600000b4efc0 (not displayed)}, BSErrorCodeDescription=launch-failed, NSLocalizedFailureReason=The process failed to launch.}}, FBSOpenApplicationRequestID=0x35a, NSLocalizedFailureReason=The request was denied by service delegate (SBMainWorkspace).}}, NSLocalizedFailureReason=The request was denied by service delegate (SBMainWorkspace)., FBSOpenApplicationRequestID=0x35a, SimCallingSelector=launchApplicationWithID:options:pid:error:, BSErrorCodeDescription=RequestDenied})
Test case 'signalUITests.testMultipleSwipeNavigation()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (13.455 seconds)
Test case 'signalUITests.testScrollingPerformance()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (40.898 seconds)
Test case 'signalUITests.testTapToPlayPause()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (9.345 seconds)
Test case 'signalUITests.testVerticalSwipeNavigation()' passed on 'Clone 2 of iPhone 16 Pro - signalUITests-Runner (10968)' (9.499 seconds)
2025-08-23 12:10:29.732 xcodebuild[10099:1604590] [MT] IDETestOperationsObserverDebug: 240.573 elapsed -- Testing started completed.
2025-08-23 12:10:29.732 xcodebuild[10099:1604590] [MT] IDETestOperationsObserverDebug: 0.000 sec, +0.000 sec -- start
2025-08-23 12:10:29.732 xcodebuild[10099:1604590] [MT] IDETestOperationsObserverDebug: 240.573 sec, +240.573 sec -- end

Test session results, code coverage, and logs:
	/Users/veva/Library/Developer/Xcode/DerivedData/signal-aeqhpgzjpgdqqdazyugqyycsycfj/Logs/Test/Test-signal-2025.08.23_12-06-19--0400.xcresult

** TEST SUCCEEDED **